@{Layout = "~/Views/Shared/_Layout.cshtml";}
@using ToyoharaCore.Models
@using ToyoharaCore.Models.CustomModel



@*@(Html.DevExtreme().Button()
            .Text("Refresh Grid")
            .OnClick("reloadData")
)*@

@*@(Html.DevExtreme().Button().Text("Настройки").OnClick("ShowSettings"))*@
@*<bold>Добро пожаловать!</bold>*@
<span>@ViewBag.Message</span>